#skills {
    overflow: hidden;
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 8rem;
    margin-bottom: 1rem;
}

.skillDescription {
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 70rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillBar {
    background: rgb(44, 46, 71);
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.skillBar:hover {
    background: rgb(54, 66, 81);
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

.skillBarText>p {
    font-size: 1rem;
    font-weight: 300;
}

.skillBarText>h2{
    font-weight: 600;
}

@media screen and (max-width:720px) {
    #skills {
        overflow: hidden;
        width: 100vw;
        max-width: 65rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .skillDescription {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
    .skillTitle {
        font-size: 2.5rem;
        padding-top: 7.3rem;
    }
    .skillBarText>h2{
        font-size: 1.1rem;
    }
    .skillBarText>p{
        font-size: 0.8rem;
    }
}