#intro {
    height: calc(100vh - 7rem);
    width: 100%;
    max-width: 100rem;
    margin: -5rem auto;
    overflow: hidden;
    position: relative;
}

.backImg {
    position: absolute;
    top: 10rem;
    right: 5rem;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    z-index: -1;
    object-fit: cover;
}

.btn {
    display: inline-flex;
    align-items: center;
}

.btnImg {
    object-fit: cover;
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 2rem;
    font-weight: 300;
}

.introName {
    color: rgb(111, 0, 255)
}

.rainbowText {
    background: linear-gradient(90deg, #ff004c, #ff8a00, #ffd500, #2bff00, #00e6ff, #004cff, #a200ff, #ff004c);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: rainbow 6s linear infinite;
    font-weight: 700;
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.introParagraph {
    font-size: medium;
    font-weight: 400;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    transition: 0.3s;
}

.btn:hover{
    background: rgb(204, 204, 204);
}

@media screen and (max-width:600px) {
    #intro {
        height: calc(100vh - 7rem);
        width: 100vw;
        max-width: 100rem;
        margin: -5rem 0;
        overflow: hidden;
        position: relative;
    }
    .backImg {
        opacity: 0;
    }
    .introParagraph {
        font-weight: 400;
        font-size: small;
    }
    .introText{
        font-size: 2rem;
    }
    .hello{
        font-size: 1.5rem;
    }
    .changingText {
        font-size: 1.3rem;
        margin: 0;
    }
}